[submodule "vendor/local/livescript-rails"]
	path = vendor/local/livescript-rails
	url = git@github.com:skiprope/livescript-rails.git
[submodule "vendor/local/dumber"]
	path = vendor/local/dumber
	url = git@github.com:skiprope/dumber.git
[submodule "vendor/local/base-n"]
	path = vendor/local/base-n
	url = git@github.com:skiprope/base-n.git
[submodule "vendor/local/maruku"]
	path = vendor/local/maruku
	url = git@github.com:skiprope/maruku-dirty.git
[submodule "vendor/local/thunderails"]
	path = vendor/local/thunderails
	url = git@github.com:skiprope/thunderails.git
