%footer
  %hr/
  %span.git
    - if not $skiprope["GIT_REV"].nil?
      %a{href: "https://github.com/skiprope/skiprope/tree/#{$skiprope["GIT_REV"]}", target: "blank"}
        running skiprope@#{$skiprope["GIT_REV"]}
  .icon-container
    .icon-octagon
      .icon-octagon.icon-octagon-inner
        .icon-strike
