- avatar = "http://www.gravatar.com/avatar/5817b3b6450acce3cc9bb5df9c9cb9cc?s=256"

.comment-container.clearfix
  %a.iconwell.pull-left{href: "#"}
    %img{src: avatar}
  .who
    %a{href: "#"}
      User
  .comment
    spam spam spam
