<div class="container">
  <footer>
    <hr/>
    <div class="icon-container">
      <div class="icon-octagon">
        <div class="icon-octagon icon-octagon-inner">
          <div class="icon-strike">

          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
