!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title α
    %link{href: "static/pipeline/vendor/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "alpha.css", rel: "stylesheet"}/
  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header.navbar-center
          %a.navbar-brand{href: "#"} skiprope α
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"}
                %span.batch-icon{data: {icon: ""}}
