<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8"/>
    <title>α</title>
    <link rel="stylesheet" href="static/pipeline/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="alpha.css"/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header navbar-center">
          <a class="navbar-brand" href="#">skiprope α</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="batch-icon" data-icon="&#xF161;"></span></a></li>
          </ul>
          <form class="navbar-form navbar-left fill" role="search">
            <div class="form-group">
              <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-default"><span class="batch-icon" data-icon="&#xF097;"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="nav-icon nav-btn-notif"><span class="batch-icon" data-icon="&#xF076;"></span><span class="label label-danger">99+</span></a></li>
            <li><a href="#" class="nav-icon nav-btn-inbox"><span class="batch-icon" data-icon="&#xF0BD;"></span><span class="label label-danger">0</span></a></li>
            <li><a href="#" class="nav-icon nav-btn-askall"><span class="batch-icon" data-icon="&#xF138;"></span></a></li>
            <li class="dropdown SERVE-TEST">
              <a href="#" class="dropdown-toggle navbar-profile" data-toggle="dropdown" role="button" aria-expanded="false"><img src="http://www.gravatar.com/avatar/5817b3b6450acce3cc9bb5df9c9cb9cc?s=256"></a>
              <ul class="dropdown-menu SERVE-TEST-SHOW" role="menu">
                <li class="media navbar-media-profile">
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://www.gravatar.com/avatar/5817b3b6450acce3cc9bb5df9c9cb9cc?s=256"/>
                    </div>
                    <div class="media-body">
                      <span>User</span>
                      <small>@user</small>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="fatico"><a href="#"><span class="batch-icon" data-icon="&#xF04E;"></span> Settings</a></li>
                <li class="fatico"><a href="#"><span class="batch-icon" data-icon="&#xF02C;"></span> Keyboard Shortcuts</a></li>
                <li class="divider"></li>
                <li class="fatico"><a href="#"><span class="batch-icon" data-icon="&#xF049;"></span> Help</a></li>
                <li class="fatico"><a href="#"><span class="batch-icon" data-icon="&#xF15B;"></span> Report a Problem</a></li>
                <li class="fatico"><a href="#"><span class="batch-icon" data-icon="&#xF069;"></span> Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
