- avatar = "http://www.gravatar.com/avatar/5817b3b6450acce3cc9bb5df9c9cb9cc?s=256"
.sidebar
  %a.media{href: "#"}
    %img{src: avatar}/
    .media-body
      %span User
      %small @user
  .userstats
    %ul
      %li
        %a{href: "#"}
          %span{title: "4,342"}
            4k
          %small followers
      %li
        %a{href: "#"}
          %span{title: "0"}
            0
          %small following
      %li
        %a{href: "#"}
          %span{title: "1,234,567,890"}
            a lot of
          %small answers
      %li
        %a{href: "#"}
          %span{title: "16"}
            16
          %small questions
